load_module "modules/ngx_http_image_filter_module.so";

user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
  worker_connections  1024;
}

http {
  proxy_cache_path /tmp/nginx_cache levels=1:2 keys_zone=image_resize_cache:10M max_size=100M inactive=40d;

  # Port 79 brukes fra ELB port 80 for å hindre http (redirigere til https)
  server {
    listen 79;
    return 301 https://$host$request_uri;
  }

  # Port 80 brukes fra ELB port 443
  server {
    listen 80;
    charset UTF-8;
    error_log /var/log/nginx/error.log debug;
    access_log /var/log/nginx/access.log;

    resolver 127.0.0.11;

    set $docs              'api-documentation.ndla-local';
    set $articles          'article-api.ndla-local';
    set $images            'image-api.ndla-local';
    set $grep              'grep.ndla-local';
    set $auth              'auth.ndla-local';
    set $api_gateway       'api-gateway.ndla-local';
    set $learningpath_api  'learningpath-api.ndla-local';
    set $oembed_proxy      'oembed-proxy.ndla-local';
    set $test_clients      'test-clients.ndla-local';
    set $article_converter 'article-converter.ndla-local';
    set $audio_api         'audio-api.ndla-local';

    set $taxonomy_endpoint 'ndla-taxonomy-test.uarauzeick.eu-central-1.elasticbeanstalk.com';

    location ~* ^/image-api/(v.*)/images/(full|thumbs)(.*) {
      set $s3_bucket        's3.eu-central-1.amazonaws.com/${NDLA_ENVIRONMENT}.images.ndla';
      set $url_image        '$2$3';
      set $width -;
      set $height -;

      if ($args ~ width=([0-9]+)) {
        set $width $1;
      }

      if ($args ~ height=([0-9]+)) {
        set $height $1;
      }

      image_filter_buffer 20M;
      image_filter_jpeg_quality 75;
      image_filter_interlace on;
      image_filter resize $width $height;

      proxy_set_header       Referer    'ndla_proxy';
      proxy_pass             https://$s3_bucket/$url_image?;
      proxy_cache image_resize_cache;
      proxy_cache_key "$proxy_host$uri$is_args$args";
      proxy_cache_valid 30d;
      proxy_cache_lock on;
      proxy_cache_use_stale error invalid_header timeout updating;
      proxy_http_version 1.1;
      expires 30d;
    }

    location ~* ^/audio/files/(.*) {
      set $s3_bucket        's3.eu-central-1.amazonaws.com/${NDLA_ENVIRONMENT}.audio.ndla';
      set $url_image        '$1';

      proxy_set_header       Referer    'ndla_proxy';
      proxy_pass             https://$s3_bucket/$url_image;
    }

    location ~* ^/health$ {
        add_header 'Content-Length' 0;
        return 200;
    }

    location ~* ^/article-api/api-docs(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$articles/api-docs$1$is_args$args;
    }

    location ~* ^/image-api/api-docs(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$images/api-docs$1$is_args$args;
    }

    location ~* ^/grep/api-docs(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$grep/api-docs$1$is_args$args;
    }

    location ~* ^/learningpath-api/api-docs(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$learningpath_api/api-docs$1$is_args$args;
    }

    location ~* ^/oembed-proxy/api-docs(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$oembed_proxy/api-docs$1$is_args$args;
    }

    location ~* ^/audio-api/api-docs(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$audio_api/api-docs$1$is_args$args;
    }

    location ~* ^/taxonomy/api-docs(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$taxonomy_endpoint/v1/api-docs$1$is_args$args;
    }

    location ~* ^/article-converter(.*) {
      if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD';
        add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,app-key';
        add_header 'Access-Control-Max-Age' 1728000;
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
      }

      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$article_converter/article-converter$1$is_args$args;
    }

    location ~* ^/taxonomy(.*) {
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Credentials' 'true';

      if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD';
        add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,app-key';
        add_header 'Access-Control-Max-Age' 1728000;
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
      }

      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$api_gateway/taxonomy$1$is_args$args;
    }

    location ~* ^/article-api(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$api_gateway/article-api$1$is_args$args;
    }

    location ~* ^/image-api(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$api_gateway/image-api$1$is_args$args;
    }

    location ~* ^/grep(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$api_gateway/grep$1$is_args$args;
    }

    location ~* ^/auth/login(.*) {
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD';
      add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,app-key';
      add_header 'Access-Control-Max-Age' 1728000;

      if ($request_method = 'OPTIONS') {
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
      }

      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$auth/auth/login$1$is_args$args;
    }

    location ~* ^/auth(.*) {
      if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD';
        add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,app-key';
        add_header 'Access-Control-Max-Age' 1728000;
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
      }

      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";

      proxy_pass http://$api_gateway/auth$1$is_args$args;
    }

    location ~* ^/test-clients(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$test_clients$1$is_args$args;
    }


    location ~* ^/learningpath-api(.*) {
      if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD';
        add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,app-key';
        add_header 'Access-Control-Max-Age' 1728000;
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
      }

      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$api_gateway/learningpath-api$1$is_args$args;
    }

    location ~* ^/oembed-proxy(.*) {
      if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD';
        add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,app-key';
        add_header 'Access-Control-Max-Age' 1728000;
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
      }

      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$api_gateway/oembed-proxy$1$is_args$args;
    }

    location ~* ^/audio-api(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$api_gateway/audio-api$1$is_args$args;
    }

    location ~* ^/monitoring(.*) {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$api_gateway/monitoring$1$is_args$args;
    }

    location / {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$docs;
    }
  }
}
